<section class="home" ng-cloak>
  <div ng-include="'home/filter/filter.html'"></div>

  <ul ng-show="patients.length" class="list-unstyled list-group">
    <li
      ng-repeat="(id, patient) in patients | filter:searchTxt"
      class="list-group-item"
      go url="/patient/{{patient.dni}}">
      <address class="patient">
        <strong class="patient-name list-group-item-heading">{{patient.firstName}}</strong>
        <div class="patient-name list-group-item-text">{{patient.lastName}}</div>
        <div class="patient-name list-group-item-text">{{patient.dni}}</div>
        <div class="patient-name list-group-item-text">{{patient.dob}}</div>
        <button class="destroy btn btn-danger" ng-click="remove($index)">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
      </address>
    </li>
  </ul>
</section>
