<section class="home" ng-cloak>
  <div ng-include="'home/filter/filter.html'"></div>

  <ul ng-show="patients.length" class="list-unstyled list-group">
    <li
      ng-repeat="(id, patient) in patients | filter:searchTxt"
      class="list-group-item">
      <address class="patient">
        <strong class="patient-name list-group-item-heading">{{patient.firstName}}</strong>
        <div class="patient-name list-group-item-text">{{patient.lastName}}</div>
        <div class="patient-name list-group-item-text">{{patient.dni}}</div>
        <div class="patient-name list-group-item-text">{{patient.dob}}</div>
        <!-- <button class="destroy" ng-click="removePatient(id)"></button> -->
      </address>
    </li>
  </ul>
</section>

<!--

  Emmet: http://docs.emmet.io/abbreviations/syntax/

  {
    h1.class1.class2{text}
    lorem
    h1*2
    h1>(br*2)>div>ul.className>li
    .productList>.product*5>h1.productName+span.productDescription
    h1[attr-name="hello"]
    #page>div.logo+ul#navigation>li*5>a{Item $}


    ol.roomplan*5>li*5>(input[type="checkbox"][id="id-$$"][name="roomplan"]+label[for="id-$$"])

    ul>li.item$@-*5
  }




-->
