<section ng-cloak>
  <ul ng-show="patients.length" class="list-unstyled">
    <li ng-repeat="(id, patient) in patients | filter:statusFilter track by $index">
      <address class="patient">
        <strong class="patient-name">{{patient.name}}</strong>
        <div class="patient-name">{{patient.lastName}}</div>
        <div class="patient-name">{{patient.dni}}</div>
        <div class="patient-name">{{patient.birthday}}</div>
        <!-- <button class="destroy" ng-click="removePatient(id)"></button> -->
      </address>
    </li>
  </ul>
</section>
